@model ClothesWeb.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <hr />

    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <img src=@Url.Content(Model.ImageProduct.FirstOrDefault().URLImage)
                     alt=""
                     class="img-fluid" />
                <div class="gallery d-flex">

                </div>
            </div>
            <div class="col">
                <h4>
                    @Html.DisplayFor(model => model.nameProduct)
                </h4>
                <h6 class="mb-3">
                    @Html.DisplayFor(model => model.price),000đ
                </h6>
                <div class="d-flex mb-4">
                    <form action="/Cart/AddtoCart/@Model.idProduct" method="POST" id="sizeForm">
                        <div id="radio-list"
                             class="me-3">
                            M @Html.RadioButton("Size", "sizeM", true)
                            L @Html.RadioButton("Size", "sizeL")
                            XL @Html.RadioButton("Size", "sizeXL")
                        </div>
                    </form>
                </div>
                <div class="wrap-btn">
                    <button class="btn btn-dark btn-cart d-block mb-3" onclick="window.location.href='/Cart/AddtoCart/@Model.idProduct'" type="submit" form="sizeForm">
                        Thêm vào giỏ hàng
                    </button>
                    <button class="btn btn-dark btn-cart d-block mb-3" onclick="window.location.href='/Payment'">
                        Thanh toán
                    </button>
                </div>
                <div class="product-description">
                    <p class="fs-6 fw-bold text-decoration-underline pb-3 border-bottom">
                        Mô tả sản phẩm
                    </p>
                    <p class="fs-6 pb-3 border-bottom">
                        CHINH SÁCH GIAO HÀNG & ĐỔI TRẢ
                        HÀNG
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class=" pb-3 border-bottom text-center">
            SẢN PHẨM LIÊN QUAN
        </h4>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProduct }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.idProduct }) |
    @Html.ActionLink("Back to List", "Index")
</p>

