@model IEnumerable<ClothesWeb.Models.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section styles {
    @Styles.Render("~/Content/feature.info.css")
}
<div class="featured my-5">
    <div class="featuredItem">
        <span class="featuredTitle">Revanue</span>
        <div class="featuredMoneyContainer">
            <span class="featuredMoney">
            </span>
        </div>
        <span class="featuredSub">Compared to last month</span>
    </div>
</div>
<div class="mb-5">
    <canvas id="myChart"></canvas>
</div>

<h3 class="my-3">Transactions</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailBIll.FirstOrDefault().Product.nameProduct)
        </th>
        <th>
            Image
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.name)
            </td>
            <td>
                <ul>
                    @foreach (var bill in item.DetailBIll)
                    {
                        <li>@bill.Product.nameProduct</li>
                    }
                </ul>
            </td>
            <td>
                @foreach (var bill in item.DetailBIll)
                {
                <a href="/products/details/@bill.Product.idProduct">
                    <img src="@Url.Content(bill.Product.ImageProduct.FirstOrDefault().URLImage)" class="w-25 h-25" />
                </a>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idBill }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idBill })
            </td>
        </tr>
    }
</table>


@section scripts {
    @Scripts.Render("~/Scripts/index.bill.js")
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
}