@model ClothesWeb.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center p-5 my-5 shadow">
    <div class="mb-3">
        <img src="@Url.Content(Model.URLAvatar)" class="rounded-circle border border-dark" style="width:12.5rem;height:12.5rem" />
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <ul class="list-group col fw-bold">
                <li class="list-group-item list-group-item-danger ">
                    Tên
                </li>
                <li class="list-group-item">
                    Giới tính
                </li>
                <li class="list-group-item">
                    CMND
                </li>
                <li class="list-group-item">
                    Địa chỉ
                </li>
                <li class="list-group-item">
                    Email
                </li>
                <li class="list-group-item">
                    SĐT
                </li>
            </ul>


        </div>
        <ul class="list-group col">
            <li class="list-group-item list-group-item-danger ">
                @Model.username
            </li>
            @if (Model.gender)
            {
                <li class="list-group-item">
                    Nam
                </li>
            }
            else
            {
                <li class="list-group-item">
                    Nữ
                </li>
            }
            <li class="list-group-item">
                @Model.identityCard
            </li>
            <li class="list-group-item">
                @Model.address
            </li>
            <li class="list-group-item">
                @Model.email
            </li>
            <li class="list-group-item">
                @Model.phone
            </li>
        </ul>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
